* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.darkBG {
    background-color: #1f2937;
    padding: 10px 100px;
}

.header {
    display: flex;
    gap: 50px;   
    align-items:baseline;
}

li.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
}

li {
    list-style: none;
}

.text {
    color:#e5e7eb;
    font-size: 18px;
}

.hero h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero {
    margin: 70px auto 70px auto;
    display: flex;
}

.hero>div {
    padding: 5px 0 5px 0;
    width: 50%;
}
.hero img{
    width: 80%;
    height: auto;
    align-items: end;
}
